@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700&family=Lato:wght@100;400;700;900&family=Montserrat:wght@100;400;500;600;700;800;900&family=Noto+Sans:wght@100;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;400;500;600;700;800&family=Raleway:wght@100;400;500;700;800&family=Roboto+Condensed:wght@300;400;700&family=Rubik:wght@400;500;600;700;800;900&family=Vollkorn:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.start{
    display: flex;
    gap: 20px;
    height: 48px;
    background-color: #35B8BE;
    justify-content: center;
}
#home{
    color: #35B8BE;
}
#order{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
}
#order:hover{
    text-decoration: underline;
}
.start p{
    margin-top: 13px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;   
    color: rgba(255, 255, 255, 0.8);
}
.navbar{
    display: flex;
    justify-content: space-around;
    height: 80px;
    padding: 8px 0px;
}
.image-bal{
    margin-top: 15px;
}
.list{
    position: relative;
    left: 100px;
    top:15px
}
.list-image{
    position: relative;
    left: 100px;
    bottom: 10px;
    
}
.list ul{
    margin-top: 15px;
    display: flex;
    gap: 30px;
    list-style: none;
    position: relative;
    left: 260px;
    cursor: pointer;
}
.list ul li{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #28224B;
}
.list ul li:hover{
    color: #35B8BE;
    transition: 0.5s;
}
/* END .navbar */
.container2{
    padding-top: 100px;
    background-image: url(./Image/BG\ Shape.png);
    background-repeat: no-repeat;
}
.marg{
    margin-left: 111px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.symbol{
    display: flex;
}
.left-side{
    position: relative;
    top: 90px;
    width: 606px;
}
.right-side{
    position: relative;
    top: 50px;
}
.left-side h1{
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 1.8px;
    color: #08090A;
    
    width: 606px;
    margin: auto;
}
.del{
        
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: 1.8px;
    color: #35B8BE;
}
.right-side{
    width: 600px;
}
.left-side p{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.36px;
    color: #546285;
    width: 606px;
    margin: auto;
}
#lor{
    
    margin: 20px 0px 50px 0px;
}
.left-side button{
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    border: none;
    width: 193px;
    height: 60px;
    text-align: center;
    color: #FFFFFF;
    background: #35B8BE;
    border-radius: 6px;   
    margin-bottom: 27px;
    cursor: pointer;
}
.rate{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    color: #35B8BE;
}
#lal{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #08090A;
}
.symbol p{
    position: relative;
    bottom: 3px;
    color: black;
    font-weight: 700;
}
.symbol i{
    color: #00B67A;
}
.symbol{
    margin-bottom: 10px;
}
/* END .container2 */
.container3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background-color: #F5FBFC;
    width: 100%;
    height: 894px;
}
.fresh, .fresh p, .fresh h1{
    width: 578px;
}
.fresh{
    text-align: start;
    position: relative;
    top: 80px;
    width: 578px;
    height: 614px;
    background-image: url(./Image/IMAGE\ \(14\).png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.fresh h1{
    position: relative;
    top: 120px;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 1.65px;
    color: #35B8BE;
}
.fresh p{
    
    position: relative;
    top: 120px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #546285;
    margin: 20px 0px 35px 0px ;
}
.fresh button{  
    
    position: relative;
    top: 120px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    border: none;
    width: 193px;
    height: 60px;
    text-align: center;
    color: #FFFFFF;
    background: #35B8BE;
    border-radius: 6px;   
    margin-bottom: 27px;
    cursor: pointer;
}
.fresh button:hover, .left-side button:hover{  
    background-color: black;
    color: white;
    transform: scale(1.1);
    transition: 1s;
}
/* END CONTAINER 3 */
.container4{
    padding: 100px 0px 80px 0px;
}
#how{
    text-align: center;
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 1.65px;
    color: #35B8BE;
}
.three-element{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}
.first-element img, .second-element img, .third-element img{
    width: 333px;
    height: 267px;
    margin-bottom: 50px;
}
.first-element, .second-element, .third-element{
    width: 30%;
    margin: auto;
}
.first-element h1, .second-element h1, .third-element h1{
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.66px;
    color: #08090A;
    margin-bottom: 15px;
}
.first-element p, .second-element p, .third-element p{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #546285;
}
.first-element p{
    width: 307px;
    height: 81px;   
    margin: auto;
}
.second-element p{
    width: 328px;
    height: 81px;
    margin: auto;
}
.third-element p{
    width: 328px;
    height: 81px;
    margin: auto;
}
.second-element p, .second-element h1{
    position: relative;
    left: 20px;
}
/* END CONTAINER4 */

.container5{
    background-image: url(./Image/lala.png);
    background-repeat: no-repeat;
    height: 1336px;
}
.text-cont{
    text-align: center;
    padding-top: 180px;
}
.text-cont h1{
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 1.65px;
    color: #35B8BE;
}
.text-cont p{
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #546285;
    width: 466px;
    margin: auto;
}
.phone{
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #35B8BE;
}   
.text-cont{
    width: 50%;
    margin: auto;
}
.text-cont button{
    width: 132px;
    height: 52px;
    margin-right: 25px;
    border: none;
    border: 1px solid #61728333;
    color: black;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
}
.text-cont button:hover{
        
    background-color: #35B8BE;
    color: white;
    transition: 1s;
    transform: skew(180deg, 0deg);
}
#burg{
    background-color: #35B8BE;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
#burg:hover{
    background-color: black;
    color: white;
    transform: skew(180deg, 180deg);
    transition: 1s;
}
.price{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.burger-dreams{
    display: flex;
    gap: 20px;
    width: 550px;
    border-radius: 6px;
    background-color: white;
    padding: 35px 20px;
}
.price h1{
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.6px;    
    color: #08090A;
}
.price p{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #35B8BE;
}
.one{
    background: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    width: 60px;
    height: 45px;
    font-weight: 600;
    cursor: pointer;
}
.Add{
    background: #35B8BE;
    border-radius: 6px;
    color: black;
    width: 115px;
    height: 45px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
.Add:hover, .one:hover{
    background-color: black;
    color: white;
    transition: 1s;
}
.ipsum{
    margin-bottom: 10px;
}
.first-row{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.menu{
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin: auto;
}
.full{
    position: relative;
    top: 100px;
    left: 590px;
    width: 186px;
    height: 60px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    border: none;
    text-align: center;
    color: #FFFFFF;
    background: #35B8BE;
    border-radius: 6px;     
    margin-bottom: 27px;
    cursor: pointer;
}
.full:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
    transition: 1s;
}
/* END CONTAINER5 */
.container6{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    width: 80%;
    margin: auto;
}
.right-text{
    text-align: start;
    width: 50%;
    margin: auto;
    margin-left: 50px;
    
}
.right-text h1{
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 1.65px;
    color: #35B8BE;
    width: 529px;
}
.right-text p{
    font-weight: 400;
    font-size: 18px;    
    line-height: 27px;  
    letter-spacing: 0.36px;
    color: #546285;
    width: 578px;
    margin: 20px 0px 30px 0px;
}
.right-text button{
    width: 172px;
    height: 60px;
    background-color: #35B8BE;
    border: none;
    color: white;
    border-radius: 6px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}
.right-text button:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
    transition: 1s;
}
.left-image{
    left: 100px;
    width: 578px;
    margin: auto;
}
.move{
    position: relative;
    top:200px;
}
.left-image{
    position: relative;
    bottom: 100px;
}
/* END CONTAINER6*/
.container7{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
    background-image: url(./Image/polo.png);
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

.Call, .Call h1, .Call p{
    width: 576px;
}
.Call h1{
    font-weight: 400;
    font-size: 55px;
    line-height: 55px;
    letter-spacing: 1.65px;
    color: #35B8BE;
}
.Call{
    background-image: url(./Image/IMAGE\ \(14\).png);
    background-position: center;
    background-repeat: no-repeat;
}
.Call p{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #546285;
    margin: 20px 0px 30px 0px;
}
.Call button{
    background: #35B8BE;
    border-radius: 6px;
    width: 225px;
    height: 60px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}
.Call button:hover{
    background-color: black;
    color: white;
    transform: scale(1.1);
    transition: 1s;
}
/* END CONTAINER7*/
.container8{
    margin: 50px 0px;
}
.team img{
    width: 666px;
    height: 640px;
}
.Support{
    width: 666px;
    height: 640px;
    background-color: #35B8BE;
    background-image: url(./Image/24.png);
    background-repeat: no-repeat;
    background-position: 1px 300px;
}
.all{
    width: 97%;
    gap: 20px;
    margin: auto;
    display: flex;
}
.Support h1{
    position: relative;
    top:250px;
    font-weight: 400;
    font-size: 53px;
    line-height: 60px;
    letter-spacing: 1.65px;
    color: #FFFFFF;
    width: 578px;
    margin: auto;
    margin-left: 52px;
}
.nice{
    font-weight: 400;
    font-size: 51px;
    line-height: 60px;
    letter-spacing: 1.65px;   
    color: #1B9097;
}
.order{
    position: relative;
    top: 290px;
    left: 60px;
    height: 60px;
    width: 162px;
    border: none;
    background: #FFFFFF;
    border-radius: 4px; 
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #35B8BE;
    cursor: pointer;
}
.order:hover{
    background-color: black;
    color: white;
    font-weight: 600;
    transition: 1s;
}
/* END CONTAINER8*/
.container9{
    background-color: #F5FBFC;
    padding: 100px 0px 50px 0px;
    background-image: url(/Image/spot.png);
    background-repeat: no-repeat;
    
    background-position: 1px 100px;
}
.take{
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #546285;
}
.for{
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.36px;
    color: #546285;
}
.ball img{
    margin-bottom: 15px;
}
.ball-and-list{
    padding: 20px 0px 150px 0px;
}
.ball{
    width: 243px;
}
.ball-and-list{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.list-last{
    display: flex;
    gap: 90px;
}
.first-last ul{
    list-style: none;
}
.first-last h1{
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1.5px;
    color: #08090A;
    cursor: pointer;
}
.first-last h1:hover{
    color: #35B8BE;
    transition: 0.5s;
}
.first-last ul li, .first-last p{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #546285;
    cursor: pointer;
}
.first-last ul li:hover, .first-last p:hover{
    text-decoration: underline;
    color: #35B8BE;
}
#line {
    width: 1100px;
    height: 1px;
    margin: auto;
    color: #BAC4D1;
}
.lassst{
    display: flex;
    justify-content: space-between;
    width: 83%;
    margin: auto;
    
    margin-top: 50px;
}
.lassst-item p{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #353448;
}
.lassst-item a{
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    color: #35B8BE;
}
.lassst-item a:hover{
    color: red;
    transition: 0.5s;
}
.three-icons{
    display: flex;
    gap: 20px;
}
.three-icons i{
    color: #BAC4D1;
    cursor: pointer;
}
.instagram i:hover{
    color: orange;
    transition: 0.5s;
}
.twitter i:hover{
    color: #1B9097;
    transition: 0.5s;
}
.youtube i:hover{
    color: red;
    transition: 0.5s;
}
.twitter, .youtube{
    border: 1px solid #BAC4D1;
    border-radius: 100%;
    padding: 10px 12px;
    font-size: 18px; 
}
.instagram{
    border: 1px solid #BAC4D1;
    border-radius: 100%;
    padding: 8px 13px; 
    
    font-size: 20px;
}
.lassst-item{
    position: relative;
    top: 10px;
}